@model IEnumerable<CRUD_With_DB.Entity.City>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-info">Create City</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StateIdd)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StateIdd)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { ID=item.ID }) |
                    @Html.ActionLink("Details", "Details", new { ID = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { ID = item.ID })
            </td>
        </tr>
}
    </tbody>
</table>
